<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trip Listings</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Trip Listings</h1>
        <div class="columns is-multiline">
            {% for trip in trips %}
            <div class="column is-12">
                <a href="/trip/{{ trip.id }}" class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <div class="level">
                                    <div class="level-left">
                                        <div class="level-item">
                                            <h4 class="title is-4">{{ trip.name }}</h4>
                                        </div>
                                    </div>
                                    <div class="level-right">
                                        <div class="level-item">
                                            <p class="subtitle is-5">
                                                from €{{ trip.min_price }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</body>
</html>